@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.searchForm{
    display: flex;
    margin: 100px auto;
    height: 5vh;
    width: 30vw;
    min-width: 300px;
    border: 1px solid grey;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.searchFormInput, .searchFormButton{
    outline:none;
    border: none;
}

.searchFormInput{
    width: 100%;
    margin: 0 10px;
}

.searchFormButton{
    background-image: url('../../icons/search.svg');
    width: 60px;
    position: absolute;
    top: 0; right: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    cursor: pointer;
}

